#include "AREYOU.RCH"

DLGTEMPLATE ID_AREYOUFORM PRELOAD MOVEABLE
BEGIN
  DIALOG    "Are you sure you want to uninstall this program?", ID_AREYOUFORM,
            0,0,267,48,
            0,  FCF_NOBYTEALIGN | FCF_BORDER | FCF_TITLEBAR | FCF_SYSMENU | FCF_ICON 
  BEGIN
    CONTROL "~Continue with Uninstallation", 1000,
            16,10,128,14,
            WC_BUTTON, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000800 
    CONTROL "Cancel ~Uninstallation", 1001,
            148,10,104,14,
            WC_BUTTON, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000800 
    CONTROL "Remove references in the LIBPATH (config.sys)", 1002,
            8,28,252,12,
            WC_BUTTON, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000802 
            PRESPARAMS PP_BACKGROUNDCOLOR,0xcccccc
    CONTROL "", 1003,
            4,4,258,44,
            WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000002 
            PRESPARAMS PP_BACKGROUNDCOLOR,0xcccccc
  END
END

HELPSUBTABLE ID_AREYOUFORM
BEGIN
END
ICON ID_AREYOUFORM "H:\\STATINST\\STATINST\\STATINST.ICO"
