#include "Main.RCH"

DLGTEMPLATE ID_MAINFORM PRELOAD MOVEABLE
BEGIN
  DIALOG    "Stats installation", ID_MAINFORM,
            0,0,226,100,
            0,  FCF_NOBYTEALIGN | FCF_BORDER | FCF_TITLEBAR | FCF_SYSMENU | FCF_TASKLIST | FCF_ICON 
  BEGIN
    CONTROL "", 1003,
            10,27,205,10,
            WC_ENTRYFIELD, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x0000000c 
            CTLDATA 12,260,0,0,0,0
    CONTROL "~Cancel", 1000,
            140,8,46,14,
            WC_BUTTON, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000800 
    CONTROL "~Install", 1002,
            34,8,46,14,
            WC_BUTTON, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000800 
    CONTROL "~Uninstall", 1001,
            86,8,46,14,
            WC_BUTTON, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000800 
    CONTROL "", 1004,
            60,55,107,10,
            WC_ENTRYFIELD, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x0000008c 
            CTLDATA 12,260,0,0,0,0
    CONTROL "Enter registration code if you have one.", 1005,
            8,68,210,8,
            WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000501 
            PRESPARAMS PP_BACKGROUNDCOLOR,0xcccccc
    CONTROL "Enter path for installation", 1006,
            8,40,210,8,
            WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000501 
            PRESPARAMS PP_BACKGROUNDCOLOR,0xcccccc
    CONTROL "Stats Installation/Uninstallation", 1007,
            4,80,216,18,
            WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000501 
            PRESPARAMS PP_FOREGROUNDCOLOR,0xff
            PRESPARAMS PP_BACKGROUNDCOLOR,0xcccccc
            PRESPARAMS PP_FONTNAMESIZE,"14.Tms Rmn Bold"
    CONTROL "Build 402.003", 1008,
            76,79,80,6,
            WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000501 
            PRESPARAMS PP_BACKGROUNDCOLOR,0xcccccc
            PRESPARAMS PP_FONTNAMESIZE,"8.Helv"
  END
END

HELPSUBTABLE ID_MAINFORM
BEGIN
END
ICON ID_MAINFORM "H:\\STATINST\\STATINST\\STATINST.ICO"
