#include "NPATH.RCH"

DLGTEMPLATE ID_NPATHFORM PRELOAD MOVEABLE
BEGIN
  DIALOG    "Installation path does not exist!", ID_NPATHFORM,
            0,0,240,77,
            0,  FCF_NOBYTEALIGN | FCF_BORDER | FCF_TITLEBAR | FCF_SYSMENU | FCF_ICON 
  BEGIN
    CONTROL "Press CREATE AND CONTINUE to create the installation path and continue or CANCEL to abort the installation.", 1000,
            20,22,200,48,
            WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00006101 
            PRESPARAMS PP_FOREGROUNDCOLOR,0xff
            PRESPARAMS PP_BACKGROUNDCOLOR,0xcccccc
            PRESPARAMS PP_FONTNAMESIZE,"14.Tms Rmn Bold"
    CONTROL "Create and c~ontinue", 1001,
            10,6,112,14,
            WC_BUTTON, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000800 
    CONTROL "~Cancel installation", 1002,
            126,6,104,14,
            WC_BUTTON, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | WS_TABSTOP | 0x00000800 
    CONTROL "", 1003,
            4,2,232,76,
            WC_STATIC, WS_VISIBLE | WS_PARENTCLIP | WS_SYNCPAINT | 0x00000002 
  END
END

HELPSUBTABLE ID_NPATHFORM
BEGIN
END
ICON ID_NPATHFORM "H:\\STATINST\\STATINST\\STATINST.ICO"
